<div class="sign_in_container">
  <div class="sign_in_wrapper">
    <div class="sign_in_header_container unselectable">
      <div style="display: flex; align-items: center;">
        <mat-icon routerLink="/welcome" style="cursor: pointer;">arrow_back_ios</mat-icon>
        <div class="sign_in_header_content">
          <h3 class="my-0">
            Let's sign you back in
          </h3>
          <p>
            Welcome back. You have been missed!
          </p>
        </div>
      </div>
    </div>
    <div class="card my-0" [ngClass]="{'mobile': systemSettingsService.isMobileDevice}">
      <div class="sigin_third_party unselectable">
        <div class="options">
          <div class="btn_sigin ml-0" (click)="signInWithGoogle()">
            <i class="fab fa-google"></i>
          </div>
          <div class="btn_sigin mr-0" (click)="signInWithFacebook()">
            <i class="fab fa-facebook"></i>
          </div>
        </div>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <label for="email" class="theme_label unselectable">Email</label>
          <input id="email" class="form-control theme_text_input custom_input w-100" type="email"
            placeholder="john.doe@mytasks.com" formControlName="email">
        </div>

        <div>
          <label for="Password" class="theme_label unselectable">Password</label>
          <input id="Password" class="form-control theme_text_input custom_input w-100"
            [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password" formControlName="password">
        </div>

        <div class="forgot_password" [routerLink]="['/reset-password']" routerLinkActive="router-link-active">
          <a class="theme_text_secondary">Forgot Password..?</a>
        </div>
        <button type="submit" mat-raised-button color="primary" class="btn_next" [disabled]="loginForm.invalid">
          Login &nbsp; <mat-icon>trending_flat </mat-icon>
        </button>
        <p>
          Don't have an account? <a [routerLink]="['/register']" class="custom_redirect_link unselectable"> register </a>
        </p>
      </form>
    </div>
  </div>
</div>
