<div
  style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: calc(100vh - 40px);">
  <div style="height: 102px; width: 100%; display: flex;">
    &nbsp;
  </div>
  <div class="illustration add_delay no_tasks" style="height: calc(100vh - 102px - 48px);">
    <img src="../../../assets/illustrations/note_list.svg" alt="no_task_selected" width="100%" height="auto">
    <div class="illustration_content">
      <h1>No task selected.</h1>
      <p>Select a task from the task list panel to view, edit, duplicate, delete or Mark as Done/Reopen.</p>
    </div>

  </div>
</div>
