<p style="margin-bottom: 16px">Document Uploader</p>

<mat-dialog-content>
  <input type="file" (change)="onFileChanged($event)" #uploadImage class="uploadImage" id="uploadImage"
  style="height: 0; width: 0; opacity: 0; position: absolute;" multiple>
<div class="upload-image-container" *ngIf="!isGuestUser" [ngClass]="{'mb-0': attachments.length === 0}">
  <div class="input_border_primary upload-image-wrapper focus" (click)="uploadImage.click()">
    <mat-icon class="addProfileIcon">file_upload</mat-icon> Upload files
  </div>
</div>

<!-- <div class="tasks_attachments">
  <p *ngFor="let item of attachments"> {{ item }} </p>
</div> -->

<div class="attachment-item" mat-list-item *ngFor="let attachment of attachments">
  <div class="image-wrapper">
    <img [src]="'../../../assets/file_types/'+ getFileType(attachment.name) +'.png'" class="icon"
      alt="file type">
  </div>
  <div class="details">
    <a *ngIf="attachment.url" class="name text_default" target="_blank" [href]="attachment.url">{{ attachment.name }}</a>
    <p *ngIf="!attachment.url" class="name text_default mb-0">{{ attachment.name }}</p>
    <span class="size text_default">{{ getFileType(attachment.name) | titlecase }} ({{ attachment.size.toFixed(2)
      }}MB)</span>
  </div>
  <mat-icon class="delete theme_icon_danger" (click)="removeAttachmentById(attachment.id)">delete</mat-icon>
</div>
    
</mat-dialog-content>


<mat-dialog-actions style="justify-content: flex-end; padding: 0;">
    <button mat-button [mat-dialog-close]="originalAttachments">Cancel</button>
    <button mat-button [mat-dialog-close]="attachments" class="text_primary" cdkFocusInitial>Done</button>
</mat-dialog-actions>