<div class="no_task_wrapper">
  <div class="no_task_content">
    <app-greeting></app-greeting>
    <div class="custom_image">
      <img src="../../../assets/illustrations/add_files.svg" alt="add_files" width="100%" height="auto">
    </div>
    <div class="illustration_content">
      <h1>
        Let's begin by adding a new task
      </h1>
      <p>
        Click the button below to add a new task.
      </p>
      <button class="custom_button">
        Add Task
      </button>
    </div>
  </div>
</div>
